/* styles.css */
body {
    background-color: white;
    color: black;
    font-family: "Noto Serif KR", serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of everything */
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.loading-overlay.hide {
    opacity: 0; /* Hide when not needed */
    pointer-events: none; /* Disable interactions when hidden */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s infinite linear; /* Animation for spinner */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 500px; /* Updated padding */
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    transition: .3s opacity ease;
    user-select: none;
}

nav ul li a:hover {
    color: black;
    transition: .3s opacity ease;;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    user-select: none;
}

.hamburger-menu {
    display: none;
}

#hamburger-icon {
    width: 30px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 60px);
    position: relative;
}

.image-container {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
}

.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.name-title {
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.name {
    font-size: 28px;
    margin: 0;
}

.job-title {
    color: gray;
}

.darken-grey {
    color: #808080;
}

.darken-black {
    color: #000000;
}

.social-icons {
    margin-top: 20px;
    animation: zoomIn 0.7s ease-in-out;
    user-select: none;
}

.name-title,
.social-icons {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-icons .icon {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease; /* Added transition for hover effect */
}

.social-icons .icon:hover {
    transform: scale(1.2); /* Scale up on hover */
}

.social-icons .icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#timer {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

#timer span {
    margin: 0 10px;
    color: #007bff;
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: white;
    color: #0056b3;
    border: 1px solid #007bff;
}

.btn-secondary {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-secondary:hover {
    background-color: #007bff;
    color: white;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.name-footer a {
    font-size: 128px;
    color: #e0dfdf;
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    position: fixed;
    bottom: -30px;
    left: 1px;
}

.copyright {
    font-size: 14px;
    color: #333;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #000;
}

/* Styles for tablet and above */
@media (min-width: 847px) {
    header {
        padding: 20px 50px;
        width: 847px;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
        z-index: 999;
        background-color: white;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 20px 50px;
    }
}

@media (min-width: 769px) {
    .hamburger-menu {
        display: none;
    }
}

/* Tablet version */
@media (max-width: 768px) {
    header {
        padding: 20px 50px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        /*border-top: 1px solid #ccc;*/
        text-align: center;
    }

    nav ul.open {
        display: flex;
        overflow: hidden;
        position: fixed;
        width: 100%;
        max-height: 100px;
        height: 100%;
        /*background-color: rgba(0, 0, 0, 0.5);*/
        z-index: 999;
    }

    nav ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hamburger-menu {
        display: block;
    }

    /* Main Section */
    .main {
        text-align: center;
    }

    .image-container {
        top: 20%;
        margin-top: 35px;
    }

    /* Social Icons */
    .social-icons {
        justify-content: center;
    }

    .name-footer a {
        font-size: 64px;
        bottom: 10px;
        left: -10px;
        writing-mode: vertical-rl;
    }

    #timer {
        font-size: 18px;
    }
}

/* Phone version */
@media (max-width: 480px) {
    .social-icons {
        top: 20%;
        margin-top: 35px;
        justify-content: center;
    }

    .image-container {
        margin-top: 70px;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .name {
        font-size: 18px;
    }

    .job-title {
        font-size: 16px;
    }

    /* Social Icons */
    .social-icons {
        justify-content: center;
    }

    .name-footer a {
        font-size: 64px;
        bottom: 10px;
        left: -10px;
        writing-mode: vertical-rl;
    }

    #timer {
        font-size: 14px;
    }
}
